/*
	Dies ist die css-Datei, in der das Layout des Graphen beschrieben ist.
*/

/*
	Style-Angabe fuer einen Knoten
*/
node {
	size: 30px;
		
		fill-color: #99ccff;
		
		text-color: #003366;
		text-size: 18;
		text-alignment: under;
		
		fill-color: white;
		
		stroke-mode: plain;
		stroke-color: #003366;
		stroke-width: 1px;
}


graph {
	padding: 80px;
}


node.Transition {
	shape: box;
}

node.TransitionAktiviert {
	shape: box;
	fill-color: blue;
}

node.anfangsKnotenEG {
	shape: diamond;
}

node.markierterAnfangsKnotenEG {
	shape: diamond;
	fill-color: blue;
}

node.markierterKnotenEG {
	fill-color: blue;
}
/*
	Style-Angabe fuer eine Kante
*/
edge {
	fill-color: #003366;
	text-color: #003366;
	arrow-shape: arrow;
	arrow-size: 9px, 6px;
	text-size:  12;
	text-color: purple;
	text-background-mode: plain;
}


edge.fett {
	size: 5px;
}

sprite.edgeLabel {
	shape: box;
	fill-color: white;
	text-background-mode: plain;
	size: 0,0;
	text-size: 12;
	text-alignment: center;
}
